/*some elements have default paddings and margins. thats why below two statements*/

*

{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 20px Tahoma;
}
h2{
	font: bold 14px Tahoma;
}

header, section, footer, aside, nav, article, hgroup{
	display: block;
}
body{
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
   background: #1c1c1c;
}
#big_wrapper{
	max-width: 1000px;
	margin: 20px 0px;
	display:-webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
}

#topStuff{

    opacity:0.7;
	border-bottom: 2px solid gray;
}

#top_header{
	font: bold 25px Tahoma; 
    color: white;
    opacity:0.7;
	}

#flag{
font-size: 11px;
}

ul{
float:right;
}

#top_menu li{
    
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 25px Tahoma;
    color: gray;
}
    


canvas
{
background: white;
box-shadow: 5px 5px 15px gray;
opacity:0.7;
-webkit-transition: -webkit-transform 1s;
-ms-transition: -ms-transform 1s;
-moz-transition: -moz-transform 1s;
-transition: -transform 1s;
}

canvas:hover
{
width:71px;
height:69px;
 cursor: pointer;
}



#new_div{
    display:-webkit-box;
	-webkit-box-orient: horizontal;
}
#main_section{

	-webkit-box-flex: 1;
	margin: 20px;
	padding: 20px;

}



#buttons{
    margin: 5px 20px 30px 40px; 
    padding: 5px;
    clear:both;
    float:left;
    padding: 5px;
    opacity:0.7;
}


.indexPlayButton:hover{
font-size: 13px;
opacity=0.7;
 cursor: pointer;
}


.indexPlayButton{
    width: 210px;  height: 35px;
   
    box-shadow: 3px 3px 15px gray;
    text-shadow: 5px 5px 30px #1c1c1c;
    font-size: 15px; opacity=0.7;
    border: 2px solid #1c1c1c;
    border-radius: 15px;
}



.dropbtn {
    background:#1c1c1c;
    color: gray;
    padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  
    font-size: 19px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
 background:#1c1c1c;
    display: none;
    position: absolute;
 //   background-color: #f9f9f9;
    min-width: 75px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    font-size: 12px;
   padding: 12px 16px;
    text-decoration: none;
    display: block;
}

 .dropdown-content a.active{
         background-color:#1B3E70;
         color:green;

    }

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}


.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}



.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay p {
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay p:hover, .overlay p:focus {
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px;}
  .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

